<section class="dialogStaff">
    <section class="header">
        <h2 class="h2">{{title}}</h2>
    </section>
    <form [formGroup]="personalForm" (ngSubmit)="submit()" class="form">

        <div class="formInput">
            <p class="labelStyle">Cédula:</p>
            <input matInput formControlName="ci" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Nombre y Apellidos:</p>
            <input matInput formControlName="name" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Rol:</p>
            <input matInput formControlName="rol" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Museo:</p>
            <input matInput formControlName="museo" class="inputStyle" type="select">
        </div>
        <div class="formInput">
            <p class="labelStyle">Teléfono:</p>
            <input matInput formControlName="phone" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Correo Electrónico:</p>
            <input matInput formControlName="mail" class="inputStyle" type="email">
        </div>
        <div class="formInput">
            <p class="labelStyle">Horaio Laboral:</p>
            <input matInput formControlName="schedule" class="inputStyle" type="text">
        </div>
        <div class="sectionButton">
          <button type="submit" *ngIf="saveChanges" mat-raised-button class="btnSave" [disabled]="!personalForm.valid">
              Guardar
              <mat-icon>
                  save
              </mat-icon>
          </button>
          <button mat-raised-button class="btnCancel" (click)="close()">
              {{cancel}}
              <mat-icon>
                  cancel
              </mat-icon>
          </button>
      </div>
    </form>

</section>
