<section class="dialogStaff">
    <section class="header">
        <h2 class="h2">Agregar Personal</h2>
    </section>
    <section class="form">
        
        <div class="formInput">
            <p class="labelStyle">Cédula:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Nombre y Apellidos:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Rol:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Museo:</p>
            <input matInput class="inputStyle" type="select">
        </div>
        <div class="formInput">
            <p class="labelStyle">Teléfono:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Correo Electrónico:</p>
            <input matInput class="inputStyle" type="email">
        </div>
        <div class="formInput">
            <p class="labelStyle">Horaio Laboral:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        
        <div class="sectionButton">
            <button mat-raised-button class="btnSave">
                Guardar
                <mat-icon>
                    save
                </mat-icon>
            </button>
            <button mat-raised-button class="btnCancel">
                Cancelar
                <mat-icon>
                    cancel
                </mat-icon>
            </button>
        </div>
    </section>
</section>
