<section class="museumDetail">
    <div class="der">
        <app-sidebar></app-sidebar>
    </div>
    <main class="mainContainer">
        <div class="imgStyle">
            <img [src]="image" alt="">
        </div>
        <section class="headerMain">
            <section class="header1">
                <div class="btnback">
                    <button mat-icon-button (click)="goBack()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="infoStyle">
                    <h2 class="title">{{title}}</h2>
                    <span class="direccion">{{addres}}</span>
                    <span class="descripcion">{{description}}</span>
                </div>
            </section>
            <section class="header2">
                <div>
                    <button class="btnEdit" mat-raised-button>
                        Editar Información
                        <mat-icon class="matIcon">edit</mat-icon>
                    </button>
                </div>
                <div>
                    <button class="btnRegister" mat-raised-button (click)="openDialogRVisit()">
                        Registrar visita
                        <mat-icon class="matIcon">add_circle</mat-icon>
                    </button>
                </div>
            </section>
        </section>
        <section class="Container">
            <section class="Container1">
                <p class="titleCon1">Filtrar fechas</p>
                <div class="formInput">
                    <p class="labelStyle">Fecha de Inicio:</p>
                    <input matInput class="inputStyle" type="text">
                </div>
                <div class="formInput">
                    <p class="labelStyle">Fecha de Fin:</p>
                    <input matInput class="inputStyle" type="text">
                </div>
                <section>
                    <div>
                        <button class="btnFiltar" mat-raised-button>
                            Filtrar
                        </button>
                    </div>
                </section>
            </section>
            <section class="Container2">
                <div>
                    <button class="btnReport" mat-raised-button>
                        Editar Información
                        <mat-icon class="matIcon">description</mat-icon>
                    </button>
                </div>
                <div>
                    <button class="btnDownload" mat-raised-button>
                        Descargar Reporte
                        <mat-icon class="matIcon">download_for_offline</mat-icon>
                    </button>
                </div>
            </section>
        </section>
        <section class="chars">
            <article class="one">Total turistas
              <p>{{total_tourist}}</p>
            </article>
            <article class="two">Promedio de turistas por visita
              <p>{{average_visit}}</p>
            </article>
            <article class="three">Maxima afluencia
              <p>{{max_currency}}</p>
            </article>
            <article class="four">
                <section class="sectionChart">
                  <div class="chart">
                    <canvas *ngIf="loaded_pie"
                    baseChart
                    [data]="pieChartData"
                    [type]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                  >
                  </canvas>
                  </div>
                </section>
                <section *ngIf="loaded_pie" class="sectionCInfo">
                  <div *ngFor="let percent of percents_country" class="cardInfo">
                    <span [ngStyle]="{color: percent.color}" class="label1">{{percent.name}}</span>
                    <span [ngStyle]="{color: percent.color}">{{percent.percent|number:'1.2-2'}}</span>
                    <span [ngStyle]="{color: percent.color}">%</span>
                  </div>
                </section>
            </article>
            <article class="five">
              Tipo de turistas
              <section class="sectionChart">
                <div class="chart">
                  <canvas *ngIf="loaded_pie2"
                  baseChart
                  [data]="pieChartData2"
                  [type]="pieChartType2"
                  [options]="pieChartOptions2"
                  [plugins]="pieChartPlugins2"
                >
                </canvas>
                </div>

              </section>
              <section *ngIf="loaded_pie2" class="sectionCInfo">
                <div *ngFor="let percent of percents_type" class="cardInfo">
                  <span class="label1">{{percent.name}}</span>
                  <span>{{percent.percent|number:'1.2-2'}}</span>
                  <span>%</span>
                </div>
              </section>
            </article>
            <article class="six">
              Género de turistas
              <section class="sectionChart">
                <div class="chart">
                  <canvas *ngIf="loaded_pie3"
                  baseChart
                  [data]="pieChartData3"
                  [type]="pieChartType3"
                  [options]="pieChartOptions3"
                  [plugins]="pieChartPlugins3"
                >
                </canvas>
                </div>

              </section>
              <section *ngIf="loaded_pie3" class="sectionCInfo">
                <div *ngFor="let percent of percents_gener" class="cardInfo">
                  <span class="label1">{{percent.name}}</span>
                  <span>{{percent.percent|number:'1.2-2'}}</span>
                  <span>%</span>
                </div>
              </section>
            </article>
            <article class="seven">
              Periodos con mayor frecuencia de turistas
              <section *ngIf="loaded_bar" class="sectionChart">
                <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType"
                ></canvas>
              </section>
            </article>
        </section>
    </main>
</section>
