<section class="infoPointDetail">
  <div class="der">
    <app-sidebar></app-sidebar>
  </div>
  <main class="mainContainer">
    <div class="imgStyle">
      <img src="../../../assets/puntoInfo1.png" alt="" />
    </div>
    <section class="headerMain">
      <section class="header1">
        <div class="btnback">
          <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="infoStyle">
          <h2 class="title">Vilcabamba</h2>
          <span class="direccion">direccion</span>
          <span class="descripcion">descripcion</span>
        </div>
      </section>
    </section>
    <section class="Container">
      <section class="Container1">
        <p class="titleCon1">Filtrar fechas</p>
        <div class="formInput">
          <p class="labelStyle">Fecha de Inicio:</p>
          <input
            matInput
            class="inputStyle"
            type="date"
          />
        </div>
        <div class="formInput">
          <p class="labelStyle">Fecha de Fin:</p>
          <input
            matInput
            class="inputStyle"
            type="date"
          />
        </div>
        <section>
          <div>
            <button class="btnFiltar" mat-raised-button>Filtrar</button>
          </div>
        </section>
      </section>
      <section class="Container2">
        <div>
          <button class="btnReport" mat-raised-button>
            Editar Información
            <mat-icon class="matIcon">description</mat-icon>
          </button>
        </div>
        <div>
          <button class="btnDownload" mat-raised-button>
            Descargar Reporte
            <mat-icon class="matIcon">download_for_offline</mat-icon>
          </button>
        </div>
      </section>
    </section>
    <section class="chars1">
      <article class="one">
        Total Visitas
        <p>{{total_record}}</p>
      </article>
      <article class="two">
        Promedio de visitas por mes
        <p>{{avg_month_visit|number: '1.0-0'}}</p>
      </article>
      <article class="three">
        Mes con mayor afluencia
        <p>{{best_month}}: <span>{{best_visit_month}}</span></p>
      </article>
    </section>
    <section class="chars">     
      <article class="four">
        <p class="titleCard">Procedencia de turistas</p>
        <section class="sectionChart">
          <div class="chart">
            <canvas *ngIf="loaded_pie"
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
          >
          </canvas>
          </div>
        </section>
        <section *ngIf="loaded_pie" class="sectionCInfo">
          <div *ngFor="let percent of percents_country" class="cardInfo">
            <span  [ngStyle]="{background: percent.color}" class="point"></span>
            <span  class="label1">{{percent.name}}:</span>
            <span  class="label2">{{percent.percent|number:'1.2-2'}}</span>
            <span  >%</span>
          </div>
        </section>
      </article>
      <article class="five">
        <p class="titleCard">Motivo de viaje</p>
        <section class="sectionChart">
          <div class="chart">
            <canvas *ngIf="loaded_pie2"
            baseChart
            [data]="pieChartData2"
            [type]="pieChartType2"
            [options]="pieChartOptions2"
            [plugins]="pieChartPlugins2"
          >
          </canvas>
          </div>

        </section>
        <section *ngIf="loaded_pie2" class="sectionCInfo">
          <div *ngFor="let percent of percents_reason" class="cardInfo">
            <span  [ngStyle]="{background: percent.color}" class="point"></span>
            <span class="label1">{{percent.name}}:</span>
            <span class="label2">{{percent.percent|number:'1.2-2'}}</span>
            <span>%</span>
          </div>
        </section>
      </article>
      <article class="six">
        <p class="titleCard">Medio de transporte</p>
        <section class="sectionChart">
          <div class="chart">
            <canvas *ngIf="loaded_pie3"
            baseChart
            [data]="pieChartData3"
            [type]="pieChartType3"
            [options]="pieChartOptions3"
            [plugins]="pieChartPlugins3"
          >
          </canvas>
          </div>

        </section>
       <section *ngIf="loaded_pie3" class="sectionCInfo">
          <div *ngFor="let percent of percents_trasnport" class="cardInfo">
            <span  [ngStyle]="{background: percent.color}" class="point"></span>
            <span class="label1">{{percent.name}}:</span>
            <span class="label2">{{percent.percent|number:'1.2-2'}}</span>
            <span>%</span>
          </div>
        </section>
      </article>
      <article class="seven">
        <p class="titleCard">Periodos con mayor frecuencia de turistas</p>
        <section *ngIf="loaded_bar" class="sectionChart2">
          <canvas baseChart width="15" height="4"
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          ></canvas>

        </section>
        <section  class="sectionCInfo">

        </section>
      </article>
    </section>
  </main>
</section>
