<section class="dialogMuseum">
    <section class="header">
        <h2 class="h2">{{title}}</h2>
    </section>
    <form [formGroup]="museumForm" (ngSubmit)="submit()" class="form">
        <div class="formInput">
            <p class="labelStyle">Nombre del Museo:</p>
            <input matInput formControlName="name" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Dirección:</p>
            <input matInput formControlName="address" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Descripción:</p>
            <input matInput formControlName="description" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Horarios de atención:</p>
            <input matInput formControlName="schedule" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Supervisor:</p>
            <input matInput formControlName="supervisor" class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Imagen de museo:</p>
            <input  class="inputStyle" formControlName="image" type="file" name="archivo" id="file" accept=".jpeg,.jpg,.png" hidden (change)="onFileSelected($event)" #fileInput>
            <img class="imageLoad" src="" />
            <button mat-raised-button value="Subir Archivo" class="btnArchivo" onclick="document.getElementById('file').click()">
                Subir Imagen
                <mat-icon>
                    cloud_upload
                </mat-icon>
            </button>
        </div>
    </form>
    <div class="sectionButton">
      <button mat-raised-button class="btnSave" (click)="submit()">
          Guardar
          <mat-icon>
              save
          </mat-icon>
      </button>
      <button mat-raised-button class="btnCancel"(click)="close()">
          Cancelar
          <mat-icon>
              cancel
          </mat-icon>
      </button>
  </div>
</section>
