<section class="dialogMuseum">
    <section class="header">
        <h2 class="h2">Agregar Museo</h2>
    </section>
    <section class="form">
        <div class="formInput">
            <p class="labelStyle">Nombre del Museo:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Dirección:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Descripción:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Horarios de atención:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Supervisor:</p>
            <input matInput class="inputStyle" type="text">
        </div>
        <div class="formInput">
            <p class="labelStyle">Imagen de museo:</p>
            <input matInput class="inputStyle" type="file">
        </div>
    </section>
</section>
