<section class="museos">
  <div class="der">
    <app-sidebar></app-sidebar>
  </div>
  <main class="main">
    <h2 class="title">Puntos de Información</h2>
    <h3 class="subtitle">Datos Generales</h3>
    <section class="chars1">
      <article class="one1">Total turistas
        <p>{{avg_tourist_visit | number : '1.0-0'}}</p>
      </article>
      <article class="two1">Promedio de turistas por visita
        <p>{{avg_visits_days | number : '1.0-0'}}</p>
      </article>
      <article class="three1">Maxima afluencia
        <p>{{total_record | number : '1.0-0'}}</p>
      </article>
    </section>
    <section class="chars">
      <article class="one">
        <h4 class="titleCard">Procedencia de turistas</h4>
        <section class="sectionChart">
          <div class="chart">
            <canvas
              baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
            >
            </canvas>
          </div>
        </section> 
        <section class="sectionCInfo">
          <div class="cardInfo">
              <span class="label1 Style-long">Nacionalidades:</span>
              <span class="label2">442</span>
              <span class="label3">55%</span>
          </div>
          <div class="cardInfo">
              <span class="label1 Style-long">Extranjeros:</span>
              <span class="label2">442</span>
              <span class="label3">55%</span>
          </div>
          <div class="cardInfo">
              <span class="label1 Style-long">Locales:</span>
              <span class="label2 Style-long">442</span>
              <span class="label3 Style-long">55%</span>
          </div>
        </section>
      </article>
      <article class="two">
        <h4  class="titleCard">Fecha de visitas</h4>
        
        <section class="filter">
          <section class="filters">
            <div class="filter1">
              <mat-form-field appearance="outline">
                <mat-label>Lugar 1:</mat-label>
                <mat-select placeholder="" [(ngModel)]="selected_1_date" (selectionChange)="onDate1Changes($event.value)">
                  <mat-option *ngFor="let place of allPlaces" [value]="place">{{place.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter1">
              <mat-form-field appearance="outline">
                <mat-label>Lugar 2:</mat-label>
                <mat-select placeholder="" [(ngModel)]="selected_2_date" (selectionChange)="onDate2Changes($event.value)" class="select2">
                  <mat-option *ngFor="let place of allPlaces" [value]="place">{{place.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </section>
          <section class="refresh">
            <button mat-icon-button (click)="updateDate()">
              <mat-icon class="mat-18">refresh</mat-icon>
            </button>
          </section>
        </section>
        <canvas
          *ngIf="loaded_line"
          baseChart
          width="400"
          height="150"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
        ></canvas>
      </article>
      <article class="three">
        <h4  class="titleCard">Razon de visitas</h4>
        
        <section class="filter">
          <section class="filters">
            <section class="filter1">
              <mat-form-field appearance="outline">
                <mat-label>Lugar 1:</mat-label>
                <mat-select placeholder="" [(ngModel)]="selected_1" (selectionChange)="onPlace1Changes($event.value)">
                  <mat-option *ngFor="let place of allPlaces" [value]="place">{{place.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
      
            </section>
            <section class="filter1">
              <mat-form-field appearance="outline">
                <mat-label>Lugar 2:</mat-label>
                <mat-select placeholder="" [(ngModel)]="selected_2" (selectionChange)="onPlace2Changes($event.value)">
                  <mat-option *ngFor="let place of allPlaces" [value]="place">{{place.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </section>
          <section class="refresh">
            <button mat-icon-button (click)="updateReason()">
              <mat-icon class="mat-18">refresh</mat-icon>
            </button>
          </section> 
        </section>
   
        <canvas
          *ngIf="loaded_bar"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
        >
        </canvas>
      </article>
      <article class="four">
        <h4 class="titleCard">Medios de trasnporte</h4>      
        <section class="filter">
          <section class="filters" >
            <section class="filter1">
              <mat-form-field appearance="outline">
                <mat-label>Lugar 1:</mat-label>
                <mat-select placeholder="" [(ngModel)]="selected_1_transport" (selectionChange)="onTransport1Changes($event.value)">
                  <mat-option *ngFor="let place of allPlaces" [value]="place">{{place.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </section>
            <section class="filter1">
              <mat-form-field appearance="outline">
                <mat-label>Lugar 2:</mat-label>
                <mat-select placeholder="" [(ngModel)]="selected_2_transport" (selectionChange)="onTransport2Changes($event.value)">
                  <mat-option *ngFor="let place of allPlaces" [value]="place">{{place.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </section>
          <section class="refresh">
            <button mat-icon-button (click)="updateTransport()">
              <mat-icon class="mat-18">refresh</mat-icon>
            </button>
          </section>
          
          
        </section>
        <canvas
          *ngIf="loaded_barh"
          baseChart
          [data]="hbarChartData"
          [options]="hbarChartOptions"
          [plugins]="hbarChartPlugins"
          [type]="hbarChartType"
        >
        </canvas>
      </article>
    </section>
    <section class="search">
      <div
        *ngIf="rol === 'kKjkKRN2Kzz01dDxLevq'; else elseBlock"
        class="search-title"
      >
        <h2 class="title">Puntos de informacion</h2>
        <div class="search-bar">
          <form class="search-form">
            <mat-form-field class="search-input" appearance="outline">
              <mat-label>Buscar</mat-label>
              <input
                matInput
                type="text"
                placeholder="Museo puerta de la ciudad"
                #input
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="title2">
          <h2 class="title">Puntos de Informacion disponibles</h2>  
        </div>
      </ng-template>
    </section>
    <div class="grid-museos">
      <app-info-point-card
        *ngFor="let infoPoint of infoPoints"
        [card]="infoPoint"
      ></app-info-point-card>
    </div>
  </main>
</section>
