.museos {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.main {
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 2em;
}

.chars {
  width: 86%;
  margin-top: 6vh;
  padding-left: 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5vh;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.chars article {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.chart{
  margin-left: 3.5vh;
  width: 25vh;
  height: 25vh;
}

.two,.three,.four{
  padding: 3vh;
}
.one {
  grid-column: 1;
  grid-row: 1;

}

.two {
  grid-column: 2/5;
  grid-row: 1/1;
}

.three {
  grid-column: 1/3;
  grid-row: 2/2;
  padding: 3vh;
}

.four {
  grid-column: 3/5;
  grid-row: 2/2;
}

.search {
  text-align: left;
  width: 100%;
}

.search-bar {
  text-align: center;
  width: 100%;
}

.search-input {
  width: 60%;
}

.title2 {
  display: flex;
  justify-content: space-between;
}

.addMuseum {
  width: 12vw;
}

.plus-icon {
  height: 15px;
  width: 15px;
}

.sectionCInfo{
  height: 15vh;
}

.cardInfo{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 5vh;
}
.label1{
  margin-left: 3vw;
}