.museos {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.main {
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 2em;
  h2{
    margin-bottom: 1em;
  }
}

.chars1{
  width: 86%;
  margin-top: 6vh;
  padding-left: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
  grid-auto-rows: minmax(15vh, auto);
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.chars1 article{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1em;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--primary);
  font-size: 1.5em;
}
.chars1 article p{
  font-size: 0.9em;
  color: rgb(68, 67, 67);
  padding-top: 1em;
}

.chars {
  width: 86%;
  margin-top: 6vh;
  padding-left: 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5vh;
  grid-auto-rows: minmax(15vh, auto);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.chars article {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--primary);
  font-size: 0.95em;
}
.chars article p{
  font-size: 0.9em;
  color: black;
  padding-top: 1em;
}


.chart{
  width: 20vh;
  height: 20vh;
}

.two,.three,.four{
  padding-right: 1vw;
  padding-left: 1vw;
  padding-bottom: 1vw;
}
.one {
  grid-area: 1 / 1 / 3 / 2;
}

.two {
  grid-area: 1 / 2 / 3 / 5;
}

.three {
  grid-area: 3 / 1 / 5 / 3;
}

.four {
  grid-area: 3 / 3 / 5 / 5;
}

.sectionChart{
  display: flex;
  flex-direction: column;
  height: 25vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search {
  text-align: left;
  width: 100%;
}

.search-bar {
  text-align: center;
  width: 100%;
}

.search-input {
  width: 60%;
}

.title2{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.addMuseum {
  width: 12vw;
}

.plus-icon {
  height: 15px;
  width: 15px;
}
.grid-museos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectionCInfo{
  height: 20vh;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: var(--primary) #e0e0e0;
}
.sectionCInfo::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  border-radius: 10px;
  border: 0.5px solid #ffffff;
}

.sectionCInfo::-webkit-scrollbar {
  width: 16px;
}
.sectionCInfo::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.cardInfo{
  display: flex;
  text-align: start;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 5vh;
  padding-top: 2vh;
}

.label1{
  width: 40%;
  margin-left: 2vh;
}
.label2{
  width: 30%;
}
.label3{
  width: 20%;
}

.filter{
  display: flex;
  width: 100%;
}
.filters{
  display: flex;
  flex-direction: column;
}
.filter1{
  display: flex;
  width: 100%;
}

mat-form-field{
  width: 20vw;
  margin-left: 1vw;
}
.titleCard{
  text-align: start;
  margin-left: 1vw;
  font-size: 1.25em;
  margin-top: 2vh;
  color: var(--primary);
}
.Style-long{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.point{
  margin-left: 1.5vw;
  width: 0.5vw;
  height: 1vw;
}