<section class="museos">
  <div class="der">
    <app-sidebar></app-sidebar>
  </div>
  <main class="main">
    <h2 class="title">Puntos de Informacion</h2>
    <h3 class="subtitle">Datos Generales</h3>
    <section class="chars">
      <article class="one">
        <h4>Procedencia de turistas</h4>
        <div class="chart">
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
          >
          </canvas>
        </div>
      </article>
      <article class="two">
        <h4>Fecha de visitas</h4>
        <canvas *ngIf="loaded_line" baseChart width="400" height="400"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"
        ></canvas>
      </article>
      <article class="three">
        <h4>Razon de visitas</h4>
        <canvas *ngIf="loaded_bar"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
        >
        </canvas>
      </article>
      <article class="four"><h4>Medios de trasnporte</h4>
        <canvas *ngIf="loaded_barh"
          baseChart
          [data]="hbarChartData"
          [options]="hbarChartOptions"
          [plugins]="hbarChartPlugins"
          [type]="hbarChartType"
        >
        </canvas>
      </article>
    </section>
    <section class="search">
      <div *ngIf="rol==='kKjkKRN2Kzz01dDxLevq'; else elseBlock" class="search-title">
        <h2 class="title">Puntos de informacion</h2>
        <div class="search-bar">
          <form class="search-form">
            <mat-form-field class="search-input" appearance="outline">
              <mat-label>Buscar</mat-label>
              <input matInput type="text" placeholder="Museo puerta de la ciudad" #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="title2">
          <h2 class="title">Museos disponibles</h2>
        </div>

      </ng-template>

    </section>
    <p *ngIf="rol==='kKjkKRN2Kzz01dDxLevq'">Visualizador</p>
    <p *ngIf="rol==='KcyTEOBshsvabhvqmcpz'">Administrador</p>
  </main>
</section>
