//estilos generales del sideBar
.sideBar{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    width: 15vw;
    height: 100%;
    color: #F1F1F1;
    position: absolute;
}

//estilos de informacion del usuario, incluyendo su imagen
.userStyle{
    display: flex;
    text-align: center;
    align-items: center;
    height: 5vh;
    padding-top: 3vw;
    padding-left: 4vh;
}
.infoUser{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.avatarUser{
    width: 30%;
}

.avatarUser img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

//estilos de Botones de menu principal
.buttonStyles{
    padding-top: 3vw;
    text-align: center;
    align-items: center;
}

.btnStyle, .btnStyleC{
    background-color: var(--primary);
    color: #F1F1F1;
    text-align: start;
    align-items: flex-start;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    font-weight: bold;
    font-size: calc(0.5em + 0.5vw)
}

.btnStyle{
    margin-top: 2vh;
}
.btnStyle-long{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.routerLinkActive{
    background-color: #F1F1F1;
    color: var(--primary);
    text-align: start;
    align-items: flex-start;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    font-weight: bold;
    font-size: calc(0.5em + 0.5vw)
}
.buttonStyles-2{
  position: relative;
  top: 20%;
  .btnStyle{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
  }
}
