
<section class="sideBar">
    <section class="userStyle">
        <div class="infoUser">
            <span>{{rol}}</span>
            <span>{{name}}</span>
        </div>
        <div class="avatarUser">
          <ngx-avatar [name]="name"></ngx-avatar>
        </div>
    </section>
    <section *ngIf="seeMuseos" class="buttonStyles">
        <div>
            <a mat-button class="btnStyle" routerLink="/museos" routerLinkActive="routerLinkActive">Museos</a>
        </div>
    </section>
    <section *ngIf="seePoint" class="buttonStyles">
      <div>
          <a mat-button class="btnStyle btnStyle-long" routerLink="/puntos-de-informacion" routerLinkActive="routerLinkActive" >Puntos de Información</a>
      </div>
  </section>
    <section *ngIf="seePersonal" class="buttonStyles">
        <div>
            <a mat-button class="btnStyle" routerLink="/personal" routerLinkActive="routerLinkActive">Personal</a>
        </div>
    </section>

    <section *ngIf="seeConfig" class="buttonStyles">
        <div>
            <a mat-button class="btnStyle" routerLink="/configuracion" routerLinkActive="routerLinkActive" >Confirguración</a>
        </div>
    </section>
    <section class="buttonStyles buttonStyles-2">
        <div>
            <a mat-button class="btnStyle" (click)="logOut()">Cerrar Sesión</a>
        </div>
    </section>
</section>
