.staff{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.main{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    padding-right: 2em;
    margin-top: 2em;
    padding-top: 1em;
    h2{
        color: var(--primary);
        font-size: 2em;
        font-weight: 900;
        margin-bottom: 2em;
    }
}
h3{
  color: var(--primary);
  font-size: 1.25em;
  letter-spacing: 0.75px;
  font-weight: 600;
}
.addStaff{
  margin-bottom: 1em;
}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;

}
.table-review{
  width: 90%;
}

.mat-header-cell{
  text-align: center;
  border: none;
  background-color: #e8e8e8;
  color: #000;
  font-size: 1rem;
}
.mat-row{
  height: 1em;
}
.mat-cell{
  text-align: center;
  border: none;
  font-size: 1em;
  padding: 4px;
  height: auto;
  text-transform: capitalize;
  background-color: #fff;
  border-bottom: 2px solid #000;


}
.mat-column-Nombres-y-Apellidos{

}

.long-2{
  max-width: 22ch;
}
.no-bg{
  background-color: #fff;
}
