@use '@angular/material' as mat;

@include mat.core();

$color1: (
  50: #1F3A6A,
  100: #12274a,
  200: #091c3d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    )
);
$accent1:(
  50: #AA1919,
  100: #8b0f0f,
  200: #400505,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    )
);

$my-primary: mat.define-palette($color1, 50);
$my-accent: mat.define-palette($accent1, 50);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
